RABBITMQ_DEFAULT_USER=marketplace
RABBITMQ_DEFAULT_PASS=marketplace-local
RABBITMQ_URL=amqp://marketplace:marketplace-local@rabbitmq:5672
CATALOG_SERVICE_URL=http://catalog-service:3003
ORDER_SERVICE_URL=http://order-service:3001
DOWNSTREAM_TIMEOUT_MS=2000
DOWNSTREAM_RETRY_COUNT=2
DOWNSTREAM_RETRY_BACKOFF_MS=100
CIRCUIT_FAILURE_THRESHOLD=3
CIRCUIT_RESET_TIMEOUT_MS=5000
EVENT_RETRY_MAX_ATTEMPTS=2
EVENT_RETRY_DELAY_MS=1000
